body{
    font-size: 1em;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(218, 191, 134);
    color: rgb(15, 14, 80);
    text-align: center;
    padding: 1em;;
    text-indent: 4px;
    text-shadow: 35%;
    text-wrap: wrap;
    display: flexbox;
    flex-direction: column;
    margin: 12px;
}

.intro{
    border: 5px ridge rgb(15, 14, 80);
    border-radius: 32px;
    margin: 2em;
    background-color: bisque ;
    text-align: left;
    padding: 1em;
}
.github{
    border: 5px ridge rgb(15, 14, 80);
    border-radius: 32px;
    margin: 1em;
    padding: 1em;
    background-color: rgb(172, 97, 243);
}
.discord{
    border: 5px ridge rgb(15, 14, 80);
    border-radius: 32px;
    margin: 1em;
    padding: 1em;
    background-color: rgb(107, 83, 247);
}
.telegram{
    border: 5px ridge rgb(15, 14, 80);
    border-radius: 32px;
    margin: 1em;
    padding: 1em;
    background-color: rgb(117, 189, 231);
}
.news{
    border: 5px ridge rgb(15, 14, 80);
    border-radius: 32px;
    margin: 2em;
    padding: 1em;
    background-color: bisque;
    text-align: left;
}
a {
    transition: transform 0.3s ease;
}

a:hover {
    color: red;
    transform: scale(1.2);
}